/* Change the sidebar color */
[data-testid=stSidebar] {
  background-image: linear-gradient(#7FDBFF, #0074D9); /* A cool blue gradient */
}


.stApp {
      /*  background-color: #FFFFFF;      linear-gradient(#6fa8dc,#FFFFFF); */
       background-image: linear-gradient(#6fa8dc,#FFFFFF);
    }
.st-eb {
            background-color: #ffffff; /* Change this to your desired background color */
        }

/* Style hyperlinks */
a {
  display: block;
  color: #FF851B !important; /* Bright orange */
  font-weight: bold;
}

p {
  color: #4D4D4D; /* Lighter gray */
}

.st-ck {
  caret-color: White;
}

.st-bh, .st-c2, .st-c3, .st-c4, .st-c5, .st-c6, .st-c7, .st-c8, .st-c9, .st-ca, .st-cb, .st-b8, .st-cc, .st-cd, .st-ce, .st-cf, .st-cg, .st-ch, .st-ci, .st-cj, .st-ae, .st-af, .st-ag, .st-ck, .st-ai, .st-aj, .st-c1, .st-cl, .st-cm, .st-cn {
  color: Black;
}

/* Style the contact form */
input[type=message], input[type=email], input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #BDBDBD; /* Lighter border */
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}


/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: #0074D9; /* Solid blue */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: #001f3f; /* Navy blue */
}

/* Hide Streamlit Branding */
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #DDDDDD; /* Light gray */
  color: black;
  text-align: center;
}

/* Add this to your existing style.css file */
#portfolio-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Adjust as needed */
    margin: 20px;
}

#portfolio-picture img {
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease-in-out;
}

